GROQ_API_KEY=
GEMINI_API_KEY=
DEEPGRAM_API_KEY=
IDIA_API_KEY=
RESEND_API_KEY=
JWT_SECRET_KEY=
ADMIN_USER=
ADMIN_PASS=
DATABASE_URL=postgresql://akademia_admin:akademia_123@db:5432/akademia_cms
CONTACT_EMAIL_TO=
CONTACT_EMAIL_FROM=
